.Progess-Bar {
    color: white;
    margin: 0 10px;
    max-width: 90px;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.05px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.9px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(64, 23, 24, 0.23);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 0.1px rgba(43, 19, 76, 0.46), 0px 0px 0.9px rgba(55, 24, 96, 0.46);
    border: 0px solid rgba(9, 14, 12, 0.08);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #fecf87;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.05px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(211, 131, 133, 0.23);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5.9px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(64, 23, 24, 0.23);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 0.1px rgba(43, 19, 76, 0.46), 0px 0px 0.9px rgba(55, 24, 96, 0.46);
    border: 0px solid rgba(9, 14, 12, 0.08);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #fecf87;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.23);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
    background: rgba(64, 23, 24, 0.23);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
    box-shadow: 0.9px 0.9px 0.1px rgba(43, 19, 76, 0.46), 0px 0px 0.9px rgba(55, 24, 96, 0.46);
    border: 0px solid rgba(9, 14, 12, 0.08);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #fecf87;
    cursor: pointer;
    height: 5.9px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(64, 23, 24, 0.23);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(211, 131, 133, 0.23);
}
  