.Video-player{
    width: 100%;
    position: relative;
    margin: 200px 0 0 0;
    padding: 0;    
    background: #202020;
    z-index: 20;
    height: 200px;
}
.video{
    width: inherit;
    /* padding: 0; */
    /* margin: 0; */
    /* position: absolute; */
    /* top: 0; */
}
.video video {
    width: inherit;
    vertical-align: middle;
    /* position: absolute; */
    /* top: 0; */
    z-index: 2;
}
.Title-box{
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    padding: 10px 20px; 
}
.Title-box h2{
    margin: 0;
    font-size: 16px;
}

.play-pause{
    width: 50px;
    height: 50px;
    display: flex;
    bottom: 0;
    right: 25px;
    z-index: 200;
}
.play-pause button {
    height: inherit;
    border: none;
    background: transparent;
    outline: 0;
    width: inherit;
    box-sizing: none;
    font-size: 30px;
    cursor: pointer;
}

.timer p{
    font-family: 'IBM Plex Mono', monospace; 
    color: white;
    font-size: 10px;
}

.Video-Player-Controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    padding: 0 10px;
    background: rgba(0,0,0,.6);
}