.Video-player{
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.video{
    width: inherit;
}
.video video {
    width: inherit;
    vertical-align: middle;
    z-index: 2;
}
.Title-box{
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,.3);
    padding: 10px 20px; 
}
.Title-box h2{
    margin: 0;
    font-size: 16px;
}

.Video-Player-Controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    padding: 10px;
    background: rgba(0,0,0,.6);
} 

.play-pause{
    display: flex;
    padding: 0 15px 0 0;
    z-index: 200;
}
.play-pause button {
    width: 25px;
    height: 20px;
    height: inherit;
    border: none;
    background: transparent;
    outline: 0;
    width: inherit;
    box-sizing: none;
    cursor: pointer;
}

.timer p{
    font-family: 'IBM Plex Mono', monospace; 
    color: white;
    font-size: 10px;
    padding: 0;
    margin: 0;
    min-width: 90px;
}